<header class="sticky top-0 bg-[#17213c] z-10 w-full">
  <div
    class="flex justify-between items-center h-[8vh] w-full xl:w-[1120px] mx-auto px-4 lg:px-0"
  >
    <img
      class="rounded-full size-9 lg:size-12"
      src="https://media.licdn.com/dms/image/D4D03AQGgP5Hl-D0xUA/profile-displayphoto-shrink_200_200/0/1691737652284?e=1710374400&v=beta&t=rks4XKSqRIFHRimXlfAcMLSw_wAl3R6Wdr7j6ky21LM"
      alt="logo"
    />
    <nav class="flex flex-row gap-x-[42px] text-lg">
      <a class="hover-accent" href="#top">Inicio</a>
      <a class="hidden lg:block hover-accent" href="#sobre-mi">Sobre mí</a>
      <a class="hover-accent" href="#experiencia">Experiencia</a>
      <a class="hover-accent" href="#proyectos">Proyectos</a>
    </nav>
  </div>
</header>
